.adobe-container header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #0094de;
  border-bottom: 1px solid #0094de;
  padding: 10px; }

.adobe-container .green-button {
  background-color: #5bd808;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px; }

.adobe-container main {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .adobe-container main section {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (min-width: 1200px) {
      .adobe-container main section {
        flex: 70%; } }
    @media screen and (max-width: 1200px) {
      .adobe-container main section {
        justify-content: center; } }
    .adobe-container main section itmes {
      border: 1px solid #0094de;
      margin: 20px; }
      @media screen and (min-width: 1200px) {
        .adobe-container main section itmes {
          width: calc((100% / 3) - 50px); } }
      .adobe-container main section itmes thumbnail-image {
        display: flex;
        flex-wrap: wrap; }
        .adobe-container main section itmes thumbnail-image .discount {
          background-color: #5bd808;
          color: white;
          font-size: 18px;
          font-weight: bold;
          padding: 10px;
          max-height: 50px; }
      .adobe-container main section itmes img {
        width: 220px;
        height: 220px;
        max-width: 100%;
        justify-content: center; }
    .adobe-container main section .desc {
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
      background-color: lightgray; }
      .adobe-container main section .desc p {
        margin: 5px 0px; }
      .adobe-container main section .desc price {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .adobe-container main section .desc .btn-add {
        padding: 5px;
        border: 1px solid #0094de;
        border-radius: 5px;
        font-weight: bold; }
  .adobe-container main cart {
    width: 100%;
    font-family: Arial;
    font-size: 17px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px; }
    @media screen and (min-width: 1200px) {
      .adobe-container main cart {
        flex: 20%; } }
    .adobe-container main cart h4 {
      font-family: Arial;
      font-size: 17px;
      box-sizing: border-box; }
    .adobe-container main cart a {
      color: #2196f3; }
    .adobe-container main cart hr {
      border: 1px solid lightgrey; }
    .adobe-container main cart span.price {
      float: right;
      color: grey; }
